/build_local/
/build_staging/
/build_production/
/node_modules/
/vendor/
.DS_Store
/source/assets/build/mix-manifest.json
/source/assets/build/js/main.js
/source/assets/build/css/main.css
/source/.cache
/source/_books
/source/_twitter
/source/_youtube
/source/_instagram
/cache
/source/assets/build/js/main.js.map
.envrc

# Local Netlify folder
.netlify
/package-lock.json
