.vitepress/cache
.vitepress/dist
.DS_Store
node_modules
.envrc
data/**/*
!data/.gitkeep

# Old blog posts
!data/wpba-thoughts-and-road-map.md
!data/wp-better-attachments.md
!data/wp-github-recent-commit-widget.md
!data/wordcamp-usa-city-chosen.md
!data/wp-better-attachments-released.md
!data/why-i-decided-to-use-a-themeforest-theme.md
!data/why-would-you-use-a-fixed-header.md
!data/why-does-expressionengine-save-templates-in-the-database.md
!data/vues-js-component-messaging.md
!data/what-i-miss-from-wordpress.md
!data/using-trello-to-manage-your-blog-posts.md
!data/visbug.md
!data/vues-js-component-messaging-continued.md
!data/testing-mocked-email-in-word-press-with-php-unit.md
!data/the-evolution-of-front-end-development-past-present-and-future.md
!data/target-blank-css-tricks.md
!data/st-louis-wordcamp-2016.md
!data/setup-vhosts-in-mamp.md
!data/shortcode-api-youre-doing-it-wrong.md
!data/st-louis-wordcamp-2015.md
!data/setup-ghost-pro-custom-domain-name.md
!data/setting-up-your-shell-configuration-and-ohmyzsh.md
!data/setting-up-your-shell.md
!data/setting-up-mailhog-on-mamp.md
!data/quickly-install-applications-on-your-mac-with-homebrew-and-cask.md
!data/no-utility-classes-aren-t-the-same-as-inline-styles.md
!data/questions-to-ask-before-choosing-a-static-site-generator.md
!data/moving-from-wordpress-to-ghost-to-jekyll.md
!data/my-5ish-favorite-atom-plugins.md
!data/new-plugin-wp-multi-file-uploader.md
!data/missing-content.md
!data/moving-from-sublime-to-atom.md
!data/looking-into-statamic-flat-file-cms.md
!data/linting-your-code-installing-the-linters.md
!data/launchcode-mentorship.md
!data/laravel-and-websockets.md
!data/laravel-forge-digital-ocean-and-websockets.md
!data/laracon-online-2019-notes-and-thoughts.md
!data/is-apple-pay-coin-etc-helpful.md
!data/just-how-niche-is-headless-word-press.md
!data/installing-linters-atom.md
!data/installing-linters-sublime-text-3.md
!data/if-youve-ever-wondered.md
!data/how-to-optimize-website-performance-in-front-end-development.md
!data/has-wp-query-abstracted-to-much.md
!data/experimenting-with-laravel-and-vue-js.md
!data/easily-get-your-clients-browser-information.md
!data/dont-fear-the-shell.md
!data/display-php-errors-in-mamp.md
!data/check-out-hyperpolygot.md
!data/check-out-ghost-inspector.md
!data/change-urls-on-your-wp-engine-install.md
!data/base-environment-setup.md
!data/avoid-using-else.md
!data/a-minute-with-a-ghost.md
