body {
  font-size: 17px;
}

a {
  @apply font-semibold text-indigo-600 no-underline;

  &:hover {
    @apply text-indigo-800;
  }
}

blockquote {
  @apply pl-6 my-8 text-lg italic font-normal text-gray-800 border-l-4 border-indigo-400;
}

code {
  @apply px-2 py-px text-sm bg-gray-300 rounded;
}

code.hljs {
  @apply p-0 bg-transparent;

  .hljs-comment,
  .hljs-keyword,
  .hljs-meta {
    @apply not-italic font-normal;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mt-8 mb-4 leading-tight text-gray-900;

  &:first-child {
    @apply mt-0;
  }
}

h1 {
  @apply text-3xl font-extrabold;

  @screen md {
    @apply text-5xl;
  }
}

h2 {
  @apply text-2xl font-bold;

  @screen md {
    @apply text-4xl;
  }
}

h3 {
  @apply text-xl font-bold;

  @screen md {
    @apply text-3xl;
  }
}

h4 {
  @apply text-lg font-normal;

  @screen md {
    @apply text-2xl;
  }
}

h5 {
  @apply text-lg font-normal;

  @screen md {
    @apply text-xl;
  }
}

h6 {
  @apply text-lg font-light;
}

hr {
  @apply my-12 border-b border-indigo-200 rounded-full;
}

li {
  ul,
  ol {
    @apply my-0;
  }
}

ol,
ul {
  @apply my-4;
}

p {
  @apply my-3;

  @screen md {
    @apply my-6;
  }
}

pre {
  @apply p-4 my-6 overflow-x-auto text-base leading-loose bg-gray-200 rounded shadow;

  code {
    @apply bg-transparent;
    @apply block;
    @apply p-0;
  }
}

svg {
  @apply w-auto h-auto max-w-full max-h-full;
}

::selection {
  @apply text-white bg-indigo-500;
}

.alert {
  @apply p-4 mb-4 border-l-4;
}

.alert-info {
  @apply text-indigo-900 bg-indigo-100 border-indigo-500;
}

.alert-danger {
  @apply text-red-900 bg-red-100 border-red-500;
}

.alert-success {
  @apply text-green-900 bg-green-100 border-green-500;
}

.alert-warning {
  @apply text-yellow-900 bg-yellow-100 border-yellow-500;
}

.debug,
.debug * {
  outline: 1px solid red;
}

.button,
.button-small {
  @apply inline-block font-semibold leading-tight text-center rounded shadow cursor-pointer;
}

.button {
  @apply px-8 py-4;
}

.button-small {
  @apply px-4 py-2;
}

.button:disabled,
.button-small:disabled {
  @apply opacity-75 pointer-events-none;
}

.button-primary {
  @apply text-white bg-indigo-800;

  &:hover,
  &:focus,
  &:active {
    @apply text-white bg-indigo-600;
  }
}

.button-primary-inverted {
  @apply text-indigo-800 bg-white;

  &:hover,
  &:focus,
  &:active {
    @apply text-white bg-indigo-500;
  }
}

[v-cloak] {
  opacity: 0;
}

.content {
  ul,
  ol {
    @apply ml-5;

    li {
      @apply mb-2;
    }
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }
}
