:root {
  --theme-1-100: "#ebf4ff";
  --theme-1-200: "#c3dafe";
  --theme-1-300: "#a3bffa";
  --theme-1-400: "#7f9cf5";
  --theme-1-500: "#667eea";
  --theme-1-600: "#5a67d8";
  --theme-1-700: "#4c51bf";
  --theme-1-800: "#434190";
  --theme-1-900: "#3c366b";
}
