html,
body,
#app {
  @apply h-full;
}

.container {
  @apply mx-auto px-6;
}

.text-gradient {
  @apply bg-gradient bg-clip-text text-pink-500;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

a {
  @apply text-blue-500 underline;

  &:hover,
  &:active,
  &:focus {
    @apply text-gradient cursor-pointer  no-underline;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
  }

  &.no-fancy-hover {
    &:hover,
    &:active,
    &:focus {
      @apply text-inherit;
      -webkit-text-fill-color: inherit;
    }
  }
}
