html,
body,
#app {
  @apply min-h-full h-full w-full;
}

/* ==============================
== Links ==
================================= */
a {
  @apply text-blue-500 underline;

  &:hover,
  &:active,
  &:focus {
    @apply text-gradient cursor-pointer no-underline;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
  }

  &.plain {
    @apply dark:text-white text-black;

    &:hover,
    &:active,
    &:focus,
    &.active {
      @apply text-inherit !bg-transparent lg:dark:text-white lg:text-black text-white;
      background-image: none;
      background-clip: inherit;
      -webkit-text-fill-color: inherit;
    }
  }
}

/* ==============================
== Headers
================================= */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold mb-6 pb-2 mt-0 border-pink;

  &.plain {
    @apply after:hidden;
  }
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

/* ==============================
== Paragraph
================================= */
p {
  @apply font-serif mb-4;
}
